.container{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    max-width: 95%;
    margin: 1% auto;
    width: 100%;
    position: fixed;
    background-color: transparent ;
    z-index: 1000000;
    left: 2%;
}

.container li{
    list-style: none;
    font-family: var(--font-family1);
}

ol{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: transparent
}

ol li{
    font-size: 18px;
    color: var(--foreground);
    font-weight: 400;
    background-color: transparent;
}
a{
    background-color: transparent;
    
}
a:hover{
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
    text-decoration: underline;
}
*{
    font-family: var(--font-family);

}

.profile-icon:hover{
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
    text-decoration: underline;
}

svg{
    background-color: transparent
}

svg:hover{
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
}

#logo:hover{
    cursor: default !important;
    opacity: 1 !important;
}