.add-actor-container {
    padding: 20px;
    background-color: #09072b;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #081731;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0a1d3d;
}

.back-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #081731;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #0a1d3d;
}

.back-button:hover .fa-arrow-left {
    animation: moveLeft 0.5s infinite alternate;
}

.error-message {
    color: #ff0000;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
}
  
button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5px);
    }
}