.elements-container{
    width: 85%;
    margin: 3% auto;
    height: 80vh;
    background-color: #081731;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    overflow-y: auto;
}

.elements-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.actors-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
}

.actor-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr auto;
    align-items: center;
    width: 95%;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px;
}

.actor-item p {
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

.element-events{
    display: grid;
    grid-template-columns: 1.4fr 1.5fr 0.6fr 0.1fr;
    align-items: center;
    gap: 20px;
    width: 97%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
    padding: 0 20px;
}

.element-events p{
    text-wrap: nowrap;
    margin: 0;
}


.element-events img{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

.buttons-container {
    display: flex;
    width: 100%;
}

.buttons-container button {
    flex: 1; 
    padding: 10px 20px;
    border: none;
    background-color: #05132b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-container button.active {
    background-color: #081731;
    font-weight: bold;
}

.buttons-container button:hover {
    background-color: #0a1d3d;
}

.element-users {
    display: grid;
    grid-template-columns: 65% 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
}

.element-users p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-labels {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    width: 95%;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #09214a;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.divider {
    width: 1px;
    height: 20px;
    background-color: #ffffff;
    margin: 0 auto;
}

.edit-user-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-user-button svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
}

.edit-user-button:hover svg {
    fill: #007bff;
}

.element-producers {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 0.5fr auto;
    align-items: center;
    width: 98%;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px;
}

#user_name{
    justify-self: center;
}

.shows-tab-labels {
    display: grid;
    grid-template-columns: 1fr 40% 1fr 1fr;
    align-items: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #09214a;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.shows-tab-labels p {
    margin: 0;
    padding: 0;
}

.element-shows {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1.4fr 0.6fr 0.1fr;
    align-items: center;
    width: 97%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #09214a;
    min-height: 60px;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.shows-info {
    display: flex;
    flex-direction: column;
}

.shows-info p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shows-title {
    font-weight: bold;
}

.shows-datetime {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shows-hall, .shows-price {
    text-align: left;
}

.edit-shows-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-shows-button svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    background-color: transparent;
}

.edit-shows-button:hover svg {
    fill: #007bff;
}

/* Events Tab */
.events-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
}

.event-item {
    display: grid;
    grid-template-columns: 40% 1fr 20%;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
    padding: 0 20px;
}

.event-item img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

.event-item p {
    margin: 0;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}

/* Shows Tab */
.shows-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
}

.show-item {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1.4fr 0.6fr 0.1fr;
    align-items: center;
    width: 97%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #09214a;
    min-height: 60px;
    padding: 10px 20px;
    margin-bottom: 5px;
}

.show-item p {
    margin: 0;
    color: white;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actors-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
}

.actor-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr auto;
    align-items: center;
    width: 97%;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Producers Tab */
.producers-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
}

.producer-item {
    display: grid;
    grid-template-columns: 30% 1fr 1fr auto;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
    padding: 0 20px;
}

.producer-item p {
    margin: 0;
    color: white;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Users Tab */
.users-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    width: 100%;
}

.user-item {
    display: grid;
    grid-template-columns: 65% 1fr auto;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #09214a;
    height: 60px;
}

.user-item p {
    margin: 0;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-performance-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.edit-performance-button svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: fill 0.3s ease;
}

.edit-performance-button:hover svg {
    fill: #007bff;
}

.edit-producer-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-producer-button svg {
    width: 20px;
    height: 20px;
    fill: #ffffff;
    transition: fill 0.3s ease;
}

.edit-producer-button:hover svg {
    fill: #007bff;
}

/* Loader Styles */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #ffffff #0000;
    animation: l1 1s infinite;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}
  